<!DOCTYPE HTML>
{% load static %}
<html dir="ltr" lang="en">
  <head>
    <style>
		html,body {
            background-color: black;
            width: 100%;
			height: 100%;
            margin: 0;
            padding: 0;
			overflow-x: hidden;
		}
        body {
            height: 100vh;
            width: 100vw;
        }
        .container {
            resize: none;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100vh;
            width: 100vw;
        }
	  </style>
    <title> {{game_name}} </title>
    <meta http-equiv="content-type", content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Evennia" />
    <link rel="icon" type="image/x-icon" href="/static/website/images/evennia_logo.png" />
    <link rel="stylesheet" type="text/css" href="{% static "webclient/fonts/FiraCode.css" %}?{{client_css_version}}">
    <link rel="stylesheet" type="text/css" href="{% static "webclient/css/xterm.css" %}?{{client_css_version}}">
{#    <link rel="stylesheet" type="text/css" href="{% static "webclient/css/normalize.css" %}?{{client_css_version}}">#}
    <script language="javascript" type="text/javascript">
        {% if websocket_enabled %}
            const wsactive = true;
        {% else %}
            const wsactive = false;
        {% endif %}
        {% if browser_sessid %}
            const csessid = "{{browser_sessid}}";
        {% else %}
            const csessid = false;
        {% endif %}
        {% if websocket_url %}
            const wsurl = "{{websocket_url}}";
        {% else %}
            const wsurl = "ws://" + this.location.hostname + ":{{websocket_port}}";
        {% endif %}
    </script>
    <script src="{% static "webclient/js/xterm.js" %}?{{client_js_version}}" language="javascript" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/addon-fit.js" %}?{{client_js_version}}" language="javascript" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/addon-unicode11.js" %}?{{client_js_version}}" language="javascript" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/addon-webgl.js" %}?{{client_js_version}}" language="javascript" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/addon-web-links.js" %}?{{client_js_version}}" language="javascript" type="text/javascript" charset="utf-8"></script>
  </head>
<body>
    <div id="terminal" class="container"></div>
    <script src="{% static "webclient/js/webclient.js" %}?{{client_js_version}}" language="javascript" type="text/javascript" charset="utf-8"></script>
</body>
</html>
