@font-face {
	font-family: 'Fira Code';
	src: url('/static/webclient/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variation-settings: 'wght' 400;
}
